# -------------------------------------------------------------------------------------------------------------------- #
# Libraries without version number #
numpy
pandas
sklearn
# -------------------------------------------------------------------------------------------------------------------- #